{% extends "base.html" %}
{% block title %}Добавление занятия{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<style>
        body {
            font-size: 20px;
            background-image: url('/static/fon_login.jpg');
            background-size: cover;
            color: #FFDAB9;
            text-align: center;
        }

        h2 {
            font-size: 1.5em;
        }
</style>
    <h2>Добавление занятия</h2>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.teacherFIO.label }}<br>
            {{ form.teacherFIO(size=1) }}<br>
            {% for error in form.teacherFIO.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.styleName.label }}<br>
            {{ form.styleName(size=1) }}<br>
            {% for error in form.styleName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=1) }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time(size=1) }}<br>
            {% for error in form.time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}