<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Танцевальная студия{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('view_lessons') }}">Информация о занятиях</a>
        <a href="{{ url_for('view_styles') }}">Информация о стилях</a>
        <a href="{{ url_for('view_teachers') }}">Информация о преподавателях и стилях</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Авторизация</a>
        <a href="{{ url_for('registration') }}">Регистрация</a>

        {% else%}
        <a href="{{ url_for('logout') }}">Выйти</a><br>
        {% endif %}

        {% if current_user.is_authenticated %}


        {% if current_user.is_administrator() %}
            <p class="admpanel">Панель администратора:</p>
         <a href="{{ url_for('addstyle') }}">Создать стиль</a>
         <a href="{{ url_for('addteacher') }}">Добавить преподавателя</a>
        <a href="{{ url_for('addlesson') }}">Добавить занятие</a>
        {% endif %}
        {% endif %}
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>